@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
    background-color: #fffff8;
    padding-top: 8rem;
}

.hidden{
    display: none;
}

/* Navbar - Section */

.navbar{
    background-color: #00b99a;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.nav-links{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    list-style-type: none;
}

.nav-links li{
    font-size: 1.2rem;
    color: #F5F5DC;
    padding: 0.5rem;
}

.nav-links li:hover{
    border: 1px solid #F5F5DC;
    border-radius: 8px 15px;
}

.logo{
    width: 150px;
    height: 80px;
}

.btnContact{
    padding: 8px 15px;
    font-size: 1rem;
    background-color: #009235;
    color: #F5F5DC;
    border: none;
    border-radius: 8px 15px;
    font-weight: bold;
}

.btnContact:hover{
    background-color: #ffffd4;
    border: 1px solid #00b99a;
    color: black;
}

#menuRep{
    display: none;
    background-color: #fffff8;
    border-radius: 0.5rem;
}

/* Hero - Section */

.hero-section{
    display: flex;
    flex-direction: row;
    padding: 1rem;
    justify-content: space-evenly;
}

.bg-hero{
    width: 700px;
    height: 700px;
}

.text-hero{
    max-width: 400px;
    margin-top: 150px;
}

.text-hero h1{
    max-width: 250px;
    font-size: 2.5rem;
}

.the{
    color: #00b99a;
}

.see{
    border: 1px solid #ffff5d;
    padding: 0.5rem;
    background-color: #ffffd4;
    border-radius: 8px 15px;
}

.text-hero p{
    font-size: 1.2rem;
}

.btnExplore{
    padding: 8px 15px;
    font-size: 1.2rem;
    background-color: #009235;
    color: #F5F5DC;
    border: none;
    border-radius: 8px 15px;
    font-weight: bold;
}

.btnExplore:hover{
    background-color: #ffffd4;
    border: 1px solid #00b99a;
    color: black;
}


/* Data - Section */

.data-section{
    padding: 1rem;
}

.container-data{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
   text-align: center;
   margin-top: 3rem;
   margin-bottom: 3rem;
}

.content-data{
    border: 1px solid #00b99a;
    background-color: #00b99a2a;
    padding: 8px 15px;
    width: 300px;
    border-radius: 8px 15px;
}

.content-data h2{
    font-size: 2rem;
}

/* Experiences - Section */

.experiences-section{
    text-align: center;
    padding: 1rem;
}

.experiences-section h2{
    font-size: 1.8rem;
}

.experiences-section p{
    font-size: 1rem;
}

/* Spans */

.experiences-section .unf{
    color: #00b99a;
}

.text-esp{
    color: #00b99a;
}

/* Spans - Finish */

.container-wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: start;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.cards-experiences{
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 0px 1px 15px 1px #959595;
    border-radius: 1rem;
}

.img-cards{
    width: 400px;
    height: 350px;
    border-radius:16px 16px 0px 0px;
}
.text-cards{
    padding: 0.3rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
}

/* Step - Section */

.step-hero{
    display: flex;
    flex-direction: row;
    padding: 1rem;
    justify-content: space-evenly;
}

.step-text{
    max-width: 400px;
    margin-top: 150px; 
}

.step-text h2{
    font-size: 2rem;
}

.step-text p{
    font-size: 1.2rem;
}

.start{
    color: #540078;
    font-weight: bold;
    font-size: 1rem;
}

.btnTrip{
    padding: 8px 15px;
    font-size: 1.2rem;
    background-color: #009235;
    color: #F5F5DC;
    border: none;
    border-radius: 8px 15px;
    font-weight: bold;
}

.btnTrip:hover{
    background-color: #ffffd4;
    border: 1px solid #00b99a;
    color: black;
}

/* Review - Section */

.review-section{
    text-align: center;
    padding: 1rem;
}

.review-section h2{
    font-size: 2rem;
}

.review-section p{
    font-size: 1.2rem;
}

.cards-review{
    max-width: 400px;
    box-shadow: 0px 1px 15px 1px #959595;
    padding: 1rem;
    border-radius: 1rem;
}

.cards-container{
    display: flex;
    flex-direction: row;
    margin-bottom: 3rem;
    margin-top: 3rem;
    justify-content: center;
    gap: 3rem;
}

.img-review{
    width: 150px;
    border-radius: 50%;
    margin-top: 0.8rem;
}

/* FAQ - Section */

.faq-text{
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
}

.faq-text h2{
    font-size: 2rem;
}

.faq-text p{
    font-size: 1.2rem;
}

.container-faq{
    max-width: 600px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border: 1px solid #00b99a;
    margin-bottom: 1rem;
    padding: 0.4rem;
    border-radius: 1rem;
}

.container-faq:hover{
    background-color: #ffffd4;
}

.faq-section{
    padding: 1rem;
}

.faq-content{
    display: flex;
    justify-content: space-between;
}

.rotate-180 {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

.expand {
    transition: transform 0.3s ease;
}

/* Footer - Section */

.footer{
    padding: 1rem;
    background-color: #00b99a;
    color: #F5F5DC;
}

.footer-details{
    display: flex;
    justify-content: space-evenly;
    gap: 3rem;
}

.content-footer{
    display: flex;
    flex-direction: row;
}

.text-footer{
    max-width: 400px;
}

.footer-links{
    list-style-type: none;
}

.footer-links li:hover{
    text-decoration: underline;
}

.all-reserved{
    text-align: center;
    margin-top: 0.5rem;
}

/* Media Queries */

@media screen and (max-width: 1280px) {
    .hero-section{
        display: flex;
        flex-wrap: wrap-reverse;
    }

    .text-hero{
        margin-top: 1rem;
    }

    .step-hero{
        display: flex;
        flex-wrap: wrap;
    }

    .step-text{
        margin-top: 1rem;
    }

    .container-wrap{
        display: flex;
        flex-wrap: wrap;
    }

    .cards-experiences{
        margin-top: 1rem;
    }

    .container-data{
        display: flex;
        flex-wrap: wrap;
    }

    .content-data{
        margin-top: 1rem;
    }

    .cards-container{
        display: flex;
        flex-wrap: wrap;
    }

    .content-footer{
            display: flex;
            flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    .hero-section{
        display: flex;
        flex-wrap: wrap-reverse;
    }

    .bg-hero{
        width: 100%;
        height: auto;
    }

    .text-hero{
        margin-top: 1rem;
    }

    .step-hero{
        display: flex;
        flex-wrap: wrap;
    }

    .step-text{
        margin-top: 1rem;
    }

    .container-wrap{
        display: flex;
        flex-wrap: wrap;
    }

    .cards-experiences{
        margin-top: 1rem;
        max-width: 350px;
    }

    .img-cards{
        max-width: 350px;
    }

    .container-data{
        display: flex;
        flex-wrap: wrap;
    }

    .content-data{
        margin-top: 1rem;
    }

    .cards-container{
        display: flex;
        flex-wrap: wrap;
    }

    .content-footer{
            display: flex;
            flex-direction: column;
    }

    .nav-links{
        display: none;
        padding: 1rem;
        background-color: #00b99a;
        border-radius: 1rem;
        flex-direction: column;
        top: 60px;
        right: 20px;
        box-shadow: 0 2px 10px rgba(0,0,0,0.1);
        position: absolute;
        margin-right: 2rem;
    }

    .nav-links.active{
        display: flex;
    }

    #menuRep{
        display: block;
    }

    .btnContact{
        display: none;
    }   
}

@media screen and (max-width: 480px) {

   
}

